body {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1483653364400-eedcfb9f1f88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  font-family: "PT Sans", sans-serif;
  justify-content: center;
}

h1 {
  color: #3a5470;
  text-align: center;
  margin-top: 0;
}

a {
  color: #668999;
  text-decoration: none;
}

li {
  list-style: none;
}

.additional-info {
  color: #3a5470;
  font-size: 20px;
  margin-top: 20px;
}

.app {
  box-sizing: border-box;
  max-width: 800px;
  margin: 20px auto;
}

.col-6 {
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.container {
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.copyright {
  margin-top: 20px;
  margin-bottom: -20px;
  text-align: center;
}

.current-temp {
  font-size: 80px;
  color: #3a5470;
  font-weight: 400;
  margin-left: 10px;
  position: relative;
}

.current-temp .active {
  color: #3a5470;
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}
.day-time {
  text-align: center;
  padding: 10px;
}

.future {
  display: flex;
}
.future-days {
  font-size: 25px;
}

.future-weather {
  font-size: 18px;
  text-align: center;
  margin-left: 50px;
  color: #69666d;
}

.unit-of-temperature {
  color: #668999;
  display: inline-block;
  font-size: 20px;
  position: relative;
  top: -34px;
}

.weather {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: #878787;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
